(base) PS D:\vscode101> git clone https://github.com/luispabloaiello-da/final_project.git
Cloning into 'final_project'...
warning: You appear to have cloned an empty repository.
(base) PS D:\vscode101> cd .\final_project\
(base) PS D:\vscode101\final_project> uv venv final_project
Using CPython 3.13.5 interpreter at: C:\ProgramData\anaconda3\python.exe
Creating virtual environment at: final_project
Activate with: final_project\Scripts\activate
(base) PS D:\vscode101\final_project> .\final_project\Scripts\activate
(base) (final_project) PS D:\vscode101\final_project> git lfs install
Updated Git hooks.
Git LFS initialized.
(base) (final_project) PS D:\vscode101\final_project> git lfs track .\data\raw\*.csv
Tracking "data/raw/*.csv"
(base) (final_project) PS D:\vscode101\final_project> git lfs track .\data\clean\*.csv
Tracking "data/clean/*.csv"
(base) (final_project) PS D:\vscode101\final_project> git add .\.gitattributes
warning: in the working copy of '.gitattributes', CRLF will be replaced by LF the next time Git touches it
(base) (final_project) PS D:\vscode101\final_project> git init
Reinitialized existing Git repository in D:/vscode101/final_project/.git/
(base) (final_project) PS D:\vscode101\final_project> uv init
Adding `final-project` as member of workspace `D:\vscode101`
Initialized project `final-project`
(base) (final_project) PS D:\vscode101\final_project> python -m ipykernel install --user --name=final_project
D:\vscode101\final_project\final_project\Scripts\python.exe: No module named ipykernel
(base) (final_project) PS D:\vscode101\final_project> ipython kernel install --user --name venv --final_project
usage: ipython-kernel-install [-h] [--user] [--name NAME] [--display-name DISPLAY_NAME] [--profile PROFILE]
                              [--prefix PREFIX] [--sys-prefix] [--env ENV VALUE] [--frozen_modules]
ipython-kernel-install: error: unrecognized arguments: --final_project
(base) (final_project) PS D:\vscode101\final_project> ipython kernel install --user --name=final_project
Installed kernelspec final_project in C:\Users\pablo\AppData\Roaming\jupyter\kernels\final_project
(base) (final_project) PS D:\vscode101\final_project> uv pip install -r .\pyproject.toml
(base) (final_project) PS D:\vscode101\final_project> echo "*.log" >> .gitignore
(base) (final_project) PS D:\vscode101\final_project> echo ".\final_project" >> .gitignore
(base) (final_project) PS D:\vscode101\final_project> git status
On branch main

No commits yet

Changes to be committed:
  (use "git rm --cached <file>..." to unstage)
        new file:   .gitattributes

Untracked files:
  (use "git add <file>..." to include in what will be committed)
        .gitignore
        .python-version
        README.md
        config.yaml
        main.py
        notebooks/
        pyproject.toml
        pyproject_NEW.toml
        requirements-dev.txt
        requirements.txt

(base) (final_project) PS D:\vscode101\final_project> git add .
warning: in the working copy of 'requirements.txt', CRLF will be replaced by LF the next time Git touches it
(base) (final_project) PS D:\vscode101\final_project> git commit -m "first push - repository structure"
[main (root-commit) a003c31] first push - repository structure
 12 files changed, 308 insertions(+)
 create mode 100644 .gitattributes
 create mode 100644 .gitignore
 create mode 100644 .python-version
 create mode 100644 README.md
 create mode 100644 config.yaml
 create mode 100644 main.py
 create mode 100644 notebooks/_main_.ipynb
 create mode 100644 notebooks/functions.py
 create mode 100644 pyproject.toml
 create mode 100644 pyproject_NEW.toml
 create mode 100644 requirements-dev.txt
 create mode 100644 requirements.txt
(base) (final_project) PS D:\vscode101\final_project> git checkout -b luispabloaiello-da
Switched to a new branch 'luispabloaiello-da'
(base) (final_project) PS D:\vscode101\final_project> git branch
* luispabloaiello-da
  main
(base) (final_project) PS D:\vscode101\final_project> git status
On branch luispabloaiello-da
nothing to commit, working tree clean
(base) (final_project) PS D:\vscode101\final_project> git status
On branch luispabloaiello-da
Changes not staged for commit:
  (use "git add/rm <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
        modified:   .gitignore
        deleted:    pyproject_NEW.toml

no changes added to commit (use "git add" and/or "git commit -a")
(base) (final_project) PS D:\vscode101\final_project> git add .
(base) (final_project) PS D:\vscode101\final_project> git commit -m "first push - repository structure"
[luispabloaiello-da 0dfdfe2] first push - repository structure
 2 files changed, 7 deletions(-)
 delete mode 100644 pyproject_NEW.toml
(base) (final_project) PS D:\vscode101\final_project> git push origin luispabloaiello-da
Enumerating objects: 17, done.
Counting objects: 100% (17/17), done.
Delta compression using up to 8 threads
Compressing objects: 100% (15/15), done.
Writing objects: 100% (17/17), 6.61 KiB | 3.31 MiB/s, done.
Total 17 (delta 3), reused 0 (delta 0), pack-reused 0 (from 0)
remote: Resolving deltas: 100% (3/3), done.
To https://github.com/luispabloaiello-da/final_project.git
 * [new branch]      luispabloaiello-da -> luispabloaiello-da
(base) (final_project) PS D:\vscode101\final_project>